<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.CategoryMapper">

    <select id="customList" resultType="fun.imcoder.cloud.model.Category">
        select a.id            id,
               a.parent_id     parentId,
               a.name          name,
               a.list_page     listPage,
               a.detail_page   detailPage,
               a.out_link      outLink,
               a.status        status,
               a.show_children showChildren,
               a.icon          icon,
               a.img           img,
               a.imgs          imgs,
               a.alias         alias,
               a.path          path,
               a.type          type,
               a.keywords      keywords,
               a.description   description,
               a.sort          sort,
               a.user_id       userId,
               a.create_source createSource,
               a.create_time   createTime,
               a.modify_time   modifyTime
        from category a
        order by a.sort asc
    </select>

    <select id="getParentList" resultType="fun.imcoder.cloud.model.Category">
        select a.id            id,
               a.parent_id     parentId,
               a.name          name,
               a.list_page     listPage,
               a.detail_page   detailPage,
               a.out_link      outLink,
               a.status        status,
               a.show_children showChildren,
               a.icon          icon,
               a.img           img,
               a.imgs          imgs,
               a.alias         alias,
               a.path          path,
               a.type          type,
               a.keywords      keywords,
               a.description   description,
               a.sort          sort,
               a.create_time   createTime,
               a.modify_time   modifyTime
        from category a
        where FIND_IN_SET(id, get_parent_category(#{categoryId}))
        order by a.sort asc
    </select>

    <select id="getChildrenList" resultType="fun.imcoder.cloud.model.Category">
        select a.id            id,
               a.parent_id     parentId,
               a.name          name,
               a.list_page     listPage,
               a.detail_page   detailPage,
               a.out_link      outLink,
               a.status        status,
               a.show_children showChildren,
               a.icon          icon,
               a.img           img,
               a.imgs          imgs,
               a.alias         alias,
               a.path          path,
               a.type          type,
               a.keywords      keywords,
               a.description   description,
               a.sort          sort,
               a.create_time   createTime,
               a.modify_time   modifyTime
        from category a
        where FIND_IN_SET(id, get_children_category(#{categoryId}))
        order by a.sort asc
    </select>

    <insert id="insertExt">
        insert into category_ext(category_id)
        values (#{categoryId})
    </insert>

    <update id="updateExt">
        update category_ext
        <if test="fields.entrySet().size()==0">
            set modify_time = now()
        </if>
        <set>
            <foreach collection="fields.entrySet()" index="key" item="value" separator=",">
                <if test="key != 'category_id'">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        where
        category_id = #{categoryId}
    </update>

    <select id="getExtByCategoryId" resultType="java.util.Map">
        select *
        from category_ext a
        where a.category_id = #{category_id}
    </select>

    <select id="findExtField" resultType="fun.imcoder.cloud.model.ExtField">
        select a.id    id,
               a.name  name,
               a.field field,
               a.type  type
        from ext_field a
        where struct = 'category'
    </select>

</mapper>
