<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.ContentMapper">

    <select id="customPage" resultType="fun.imcoder.cloud.model.Content">
        select
        a.id id,
        a.title title,
        a.summary summary,
        a.editor_type editorType,
        a.path path,
        (select group_concat(d.category_id) from category_content d where d.content_id = a.id) categoryIds,
        (select group_concat(d.tag_id) from content_tag d where d.content_id = a.id) tagIds,
        (select group_concat(c.name separator ' ') from category c where c.id in(select d.category_id from
        category_content d where d.content_id = a.id)) categoryNames,
        a.author author,
        a.source source,
        a.sort sort,
        a.out_link outLink,
        a.comment comment,
        a.page page,
        a.keywords keywords,
        a.description description,
        a.img img,
        a.imgs imgs,
        a.visits visits,
        a.status status,
        a.password password,
        a.top top,
        a.recommend recommend,
        a.likes likes,
        a.edit_time editTime,
        a.create_time,
        a.modify_time
        from content a
        <where>
            <if test="params.title != null and params.title != '' ">
                and a.title like concat('%',#{params.title},'%')
            </if>
            <if test="params.categoryId != null and params.categoryId != '' ">
                and a.id in (
                select b.content_id from category_content b where b.category_id in (select id from category
                where find_in_set(id,get_children_category(#{params.categoryId})))
                )
            </if>
            <if test="params.extFields != null">
                and a.id in (
                select b.content_id from content_ext b
                <where>
                    <foreach collection="params.extFields.entrySet()" index="field" item="value" separator="and">
                        <if test="value != null and value != '' ">
                            ${field} = #{value}
                        </if>
                    </foreach>
                </where>
                )
            </if>
        </where>
        order by a.sort asc,a.create_time desc
    </select>

    <select id="getById" resultType="fun.imcoder.cloud.model.Content">
        select
        a.id id,
        a.title title,
        a.summary summary,
        a.original_content originalContent,
        a.format_content formatContent,
        a.editor_type editorType,
        a.path path,
        (select group_concat(d.category_id) from category_content d where d.content_id = a.id) categoryIds,
        (select group_concat(d.tag_id) from content_tag d where d.content_id = a.id) tagIds,
        (select group_concat(c.name) from category c where c.id in(select d.category_id from
        category_content d where d.content_id = a.id)) categoryNames,
        a.author author,
        a.source source,
        a.sort sort,
        a.out_link outLink,
        a.comment comment,
        a.page page,
        a.keywords keywords,
        a.description description,
        a.img img,
        a.imgs imgs,
        a.visits visits,
        a.status status,
        a.password password,
        a.top top,
        a.recommend recommend,
        a.likes likes,
        a.edit_time editTime,
        a.create_time,
        a.modify_time
        from content a
        where id = #{id}
    </select>

    <select id="getNext" resultType="fun.imcoder.cloud.model.Content">
        select
            a.id id,
            a.title title,
            a.path path,
            a.keywords keywords,
            a.description description,
            a.img img,
            a.imgs imgs,
            a.visits visits,
            a.likes likes,
            a.edit_time editTime
        from content a
        where a.id &lt; #{id} order by a.edit_time desc limit 0, 1
    </select>

    <select id="getPrevious" resultType="fun.imcoder.cloud.model.Content">
        select
            a.id id,
            a.title title,
            a.path path,
            a.keywords keywords,
            a.description description,
            a.img img,
            a.imgs imgs,
            a.visits visits,
            a.likes likes,
            a.edit_time editTime
        from content a
        where a.id &gt; #{id} limit 0, 1
    </select>

    <select id="findExtField" resultType="fun.imcoder.cloud.model.ExtField">
        select
            a.id id,
            a.name name,
            a.field field,
            a.type type
        from ext_field a
        where category_id in (select b.category_id from category_content b where b.content_id  = #{id})
    </select>

    <select id="getContentExtByContentId" resultType="java.util.Map">
        select
            *
        from content_ext a
        where content_id = #{contentId}
    </select>

    <insert id="insertContentExt">
        insert into content_ext(content_id) values (#{contentId})
    </insert>

    <update id="updateContentExt">
        update content_ext
        <set>
            <foreach collection="fields.entrySet()" index="key" item="value" separator=",">
                <if test="key != 'content_id'.toString()">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        where
        content_id = #{contentId}
    </update>

    <insert id="addVisits">
        update content set visits = visits + 1 where path = #{path}
    </insert>

</mapper>
