<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.ContentExtMapper">

    <select id="getByContentId" resultType="java.util.Map">
        select * from content_ext a where a.content_id = #{id}
    </select>

</mapper>
