<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.ContentMapper">

    <select id="customPage" resultType="fun.imcoder.cloud.model.Content">
        select
        a.id id,
        a.title title,
        a.summary summary,
        a.editor_type editorType,
        a.path path,
        (select group_concat(c.name separator '  ') from category c where c.id in(select d.category_id from
        category_content d where d.content_id = a.id)) categoryNames,
        a.author author,
        a.source source,
        a.sort sort,
        a.out_link outLink,
        a.comment comment,
        a.page page,
        a.keywords keywords,
        a.description description,
        a.img img,
        a.visits visits,
        a.status status,
        a.password password,
        a.top top,
        a.recommend recommend,
        a.likes likes,
        a.edit_time editTime,
        a.create_time,
        a.modify_time
        from content a
        <where>
            <if test="params.title != null and params.title != '' ">
                and a.title like concat('%',#{params.title},'%')
            </if>
            <if test="params.categoryId != null and params.categoryId != '' ">
                and a.id in (
                select b.content_id from category_content b where b.category_id in (select id from category
                where find_in_set(id,get_category_tree(#{params.categoryId})))
                )
            </if>
        </where>
        order by a.sort
    </select>

</mapper>
