<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.ContentTagMapper">

    <insert id="insertBatch">
        insert into
        content_tag(tag_id,content_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.tagId},#{item.contentId})
        </foreach>
    </insert>

</mapper>
