<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.imcoder.cloud.mapper.FormFieldMapper">

    <update id="addColumn" parameterType="fun.imcoder.cloud.model.FormField">
        alter table ${tableName}
            add column ${field} varchar(${size}) default ''
    </update>

    <update id="delColumn" parameterType="fun.imcoder.cloud.model.FormField">
        alter table ${tableName}
            drop column ${field}
    </update>

</mapper>
